<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Social_Network</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/network.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand" aria-label="Second navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample02">
                    <ul class="navbar-nav">
 
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item, margin_li">
                                @Html.ActionLink(User.Identity.Name, "ShowProfile", "Profile", new { @class = "nav-link" })
                            </li>
                            <li class="nav-item, margin_li">
                                @Html.ActionLink("Log Out", "Logout", "Account", new { @class = "nav-link" })
                            </li>
                        }
                        else
                        {
                            <li class="nav-item, margin_li">
                                @Html.ActionLink("Register", "Register", "Account", new { @class = "nav-link" })
                            </li>
                            <li class="nav-item, margin_li">
                                @Html.ActionLink("Log In", "Login", "Account", new { @class = "nav-link" })
                            </li>
                        }

                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item, margin_li">
                                @Html.ActionLink("Create Role", "CreateRole", "Role")
                            </li>
                        }
                        @*@if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">
                               @Html.ActionLink("All Users", "AllUsers", "Role")
                            </li>
                        }
                        <li class="nav-item">
                            @Html.ActionLink("Chat", "MainChat", "Chat", new { @class = "nav-link" })
                        </li>*@
                    </ul>
                    @*<form>
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </form>*@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2021 - Serhii Yakubyshyn
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
